.pokemon__cards {
    color: var(--white);
     width: 11em;
     height: 7em;
     margin: 0.2em;
     display: flex;
     flex-wrap: wrap;
     border-radius: 10px;
     padding: 0.6em;
     position: relative;
     cursor: pointer;
 }

 .pokemon__id {
    width: 100%;
    display: flex;
    justify-content: end;
}

.id--pokemon {
    font-family: var(--font-inter);
    font-weight: 500;
    font-size: 1rem;
    opacity: 0.5;
}

.pokemon__infos {
    width: 100%;
    height: 100%;
    display: flex;
}

.name--pokemon {
    font-family: var(--font-inter);
    font-weight: 600;
    font-size: 1.2rem;
}

.type--pokemon {
    width: 3.8em;
    font-size: 0.6rem;
    font-family: var(--font-inter);
    font-weight: 600;
    padding: 0.16em;
    margin-top: 0.3em;
    border-radius: 25px;
    text-align: center;
}

.pokemon__img {
    position: absolute;
    width: 40%;
    left: 6.4em;
}