.pagination__icons {
    width: 100%;
   
    padding: 1.6em;
    display: flex;
    justify-content: space-around;
}

.page-icon {
    cursor: pointer;
    width: 1em;
}

.hidden {
    width: 1em;
    filter: invert(80%);
}

@media screen and (min-width: 1360px) {

    .page-icon {
        cursor: pointer;
        width: 1.4em;
    }
    
    .hidden {
        width: 1.4em;
        filter: invert(80%);
    }
}
