.main__cards {
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.container__pokemon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokemons--cards {  
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 1024px) {
    .pokemons--cards {
        width: 1000px;
    }

    .main__cards{
        padding: 4em 0;
    }
}

@media screen and (min-width: 1360px) {
    .pokemons--cards {
        width: 1200px;
    }

    .main__cards{
        padding: 4em 0;
    }

}

