.container__filter {  
    padding: 1.6em 0.8em; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filter__title {
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    text-align: center;
}

.input__search {    
    display: flex;
    align-items: center;
}

.search__pokemon {
    position: relative;
    all: unset;
    border: 1px solid var(--gray-opacity);
    box-shadow: var(--shadow); 
    padding: 0.4em 4.6em;
    border-radius: 1.6em;
    margin: 1.6em 0;
}

.search__pokemon::placeholder {
    text-align: center;
    font-family: var(--font-open-sans);
    font-weight: 400;
    color: var(--gray-black-opacity);
}

.lupa {
    position: relative;
    right: 2.2em;
} 
/* 








*/
