.header {
    font-family: var(--font-open-sans);
    font-weight: 400;
    font-size: 1.2rem;
    height: 5vh;
    box-shadow: var(--shadow);
    display: flex;
    justify-content: center;
    padding: 1.6em 1.6em;
}

.box__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo--pokemon {
    width: 110px;
}

.nav-list {
    display: flex;
    list-style: none;
    cursor: pointer;
}

.item__list:hover{
    border-bottom: 2px solid var(--black);
}

.item__list:not(:last-child) {    
margin-right: 1em;
}

.item__link {
    all: unset;
}


@media screen and (min-width: 1360px) {
    .header {
        height: 10vh;
    }

    .box__header {
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo--pokemon {
        width: 180px;
    }

    .item__list {
        font-size: 1.6rem;
    }
    
    
}