.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    padding: 1.6em 1.6em;
    box-shadow: var(--shadow);
    font-family: var(--font-open-sans);
    font-weight: 400;
    font-size: 1.2rem;
}

.logo--pokemon {
    width: 110px;
}

.nav-list {
    display: flex;
    list-style: none;
    cursor: pointer;
}

.item__list:hover{
    border-bottom: 2px solid var(--black);
}

.item__list:not(:last-child) {    
    margin-right: 1em;
}

.item__link {
    all: unset;
}


@media screen and (min-width: 1360px) {
    .header {
        height: 10vh;
        justify-content: space-around;
    }

    .logo--pokemon {
        width: 180px;
    }

    .item__list {
        font-size: 1.6rem;
    }
    
    
}