.main {
    font-family: var(--font-inter);
    text-align: center;
    padding: 2.4em 1.6em;
    height: 85vh;
    display: flex;
    flex-direction: column;
}

.container__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title__content {
    font-weight: 800;
    font-size: 2.4rem;  
}

.subtitle__content {
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 26px;
    letter-spacing: 2%;
    padding: 1.6em 0 3em 0;
}
.pokemon__img {
    width: 80%;
}

.btn {
    all: unset;
    cursor: pointer;
    padding: 1.2em;
    background: var(--green);
    color: var(--white);
    text-align: center;
    border-radius: 11px;
    font-size: 1.1rem;
    font-weight: 700;
    transition: 0.2s;
    margin-top: 2em;
}

.btn:hover{
    background: var(--green-opacity);
}
