.green {
  background-color: var(--green);
}

.green-opacity {
  background-color: var(--green);
}

.red {
  background-color: var(--red);
}

.yellow {
  background-color: var(--yellow);
}

.white {
  background-color: var(--white-bg);
}

.black {
  background-color: var(--black-bg);
}

.brown {
  background-color: var(--brown);
}

.blue {
  background-color: var(--blue);
}

.gray {
  background-color: var(--gray);
}

.pink {
  background-color: var(--pink);
}

.purple {
  background-color: var(--purple);
}