@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Open+Sans:wght@400;700&display=swap');

:root {
--font-inter: 'Inter', sans-serif;
--font-open-sans: 'Open Sans', sans-serif;
--green: #48D0B0;
--green-opacity: #48d0b0bd;
--gray-opacity: #cfc6c665;
--gray-black-opacity: #212121CC;
--shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.151); 
--white: #fff;
--black: #000;
--back-soft: #171414;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

