@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Open+Sans:wght@400;700&display=swap');

:root {
--font-inter: 'Inter', sans-serif;
--font-open-sans: 'Open Sans', sans-serif;
--gray-opacity: #cfc6c665;
--gray-black-opacity: #212121CC;
--shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.151); 
--black: #000;
--back-soft: #171414;
--gray-blue: #303943;
--black-modal: rgba(0, 0, 0, 0.493);

--white: #fff;
--white-bg: #c5c5c5;
--black-bg: #000;
--green: #48D0B0;
--green-opacity: #48d0b0bd;
--red: #FB6C6C;
--brown: #644f47 ;
--blue: #4676A4;
--pink: #f7adad;
--gray:#424242;
--purple: #46C5D7;
--yellow: #FFCE4B;


}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.green {
  background-color: var(--green);
}

.green-opacity {
  background-color: var(--green);
}

.red {
  background-color: var(--red);
}

.yellow {
  background-color: var(--yellow);
}

.white {
  background-color: var(--white-bg);
}

.black {
  background-color: var(--black-bg);
}

.brown {
  background-color: var(--brown);
}

.blue {
  background-color: var(--blue);
}

.gray {
  background-color: var(--gray);
}

.pink {
  background-color: var(--pink);
}

.purple {
  background-color: var(--purple);
}

